@font-face {
    font-family: Oswalda;
    src: url(library/fonts/Oswald-Regular.ttf);
}
@font-face {
    font-family: Sorts Mill Goudy;
    src: url(library/fonts/sortsmillgoudy-regular.ttf);
}
@font-face {
    font-family: Karla;
    src: url(library/fonts/karla-regular.ttf);
}

.navbar-collapse a {
    font: 16px Oswalda, sans-serif;
    color: #004069;
}

.btn-group i {
    color: #004069;
}
.navbar .btn{
    padding-left: 4px;
    padding-right: 4px;
}
.bg-fff{
    background-color: #ffffff;
}
.shop-left{
    width: 15%;
    margin-right: 2%;
    font: 17px Karla, sans-serif;
    color: #6c757d;
}
.mini-title{
    padding: 5px;
    font-size: 15px;
}
.shop-right{
    width: 83%;
    color: #004069;
    font: bold 17px Karla, sans-serif;
}
.shop-image{
    background-size: contain;
    background-repeat: no-repeat;
    height: 120px;
    width: 120px;
}
.item-name{
    font:20.5px 'Sorts Mill Goudy', sans-serif;

}
.price{
    font: bold 17px Karla, sans-serif;
}
.strike-price{
    text-decoration: line-through;
    font-style: italic;
    color: #6c757d;
    padding-top: 5px;
    padding-bottom: 5px;
    font: bold 17px Karla, sans-serif;
}
#content{
    font-family: 'Sorts Mill Goudy', sans-serif;
    color: #004069;
    padding-bottom: 50px;
}
#content-top {
    height: 650px;
    background-image: url("library/images/home_boot.jpg");
    /*background-image: url(https://assets.website-files.com/5d013b7…/5d01425…_kal-visuals-1169715-unsplash.jpg);*/
    background-size: cover;
    background-position: 50% 50%;
}
.content-heading,.content-flex{
    text-align: center;
    padding:50px 10px 10px 0;
}
.title{
    font-size: 18px;
    color: #6c757d;
}
.big-title{
    font-size: 35px;
}
.content-title{
    padding: 5px;
    font-size: 15px;
    color: #6c757d;
}

.content-image{
    background-size: contain;
    background-repeat: no-repeat;
    height: 170px;
    width: 170px;
}